[Unit]
Description=Periodically refresh Hestia sysext extensions

[Timer]
OnBootSec=30s
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
